<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag :p, notice, class: 'notice' if notice.present? %>
    <%= content_tag :p, alert, class: 'alert' if alert.present? %>

    <%= yield %>
  </body>
</html>
